doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Noom
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    body
        header
            h1 220216 Noom Challenge / Dayla
        main
            ul
            form#chat
                input(type="text", required, placeholder="chat here")
                button SEND
            form#nickname
                input(type="text", required, placeholder = "save nickname")
                button SAVE
                button#change CHANGE NAME

        script(src="/public/js/app.js") 